<div class ="jumbotron center"> 
	<h1>Contact Information</h1>
	<P> Hi, this is the site that I am building for my onemonthrails project. If you have any questions, comments, or suggestions, you can reach me at Jomonavi@gmail.com. Thanks for checking out my page.</p>
</div>

